* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  background: #dde1e7;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
}

header .switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
}

header .switch__toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

header .switch__round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3.4rem;
}

header .switch__round::before {
  content: "";
  position: absolute;
  height: 2.6rem;
  width: 2.6rem;
  bottom: 0.4rem;
  left: 0.4rem;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

header .switch__toggle:checked + .switch__round {
  background: #1a1c20;
}

header .switch__toggle:focus + .switch__round {
  -webkit-box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
          box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
}

header .switch__toggle:checked + .switch__round:before {
  -webkit-transform: translateX(2.6rem);
          transform: translateX(2.6rem);
}

header h2 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-left: 2rem;
}

main {
  margin: auto;
  max-width: 120rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card1 {
  height: 35rem;
  width: 25rem;
  background: #dde1e7;
  -webkit-box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
          box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
  border-radius: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .card1 .logo {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2rem;
  z-index: 1;
  text-align: center;
}

main .card1 .logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff7f8a;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -webkit-transform: translate(-10%, -20%);
          transform: translate(-10%, -20%);
  z-index: -1;
  -webkit-box-shadow: -2px -2px 5px #fff, 2px 2px 15px #99a8b2;
          box-shadow: -2px -2px 5px #fff, 2px 2px 15px #99a8b2;
}

main .card1 .login {
  margin: 2.5rem 3.5rem;
  font-family: "Montserrat", sans-serif;
}

main .card1 .login .username {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: inset 3px 3px 8px #99a8b2, inset -3px -3px 8px #ffffff;
          box-shadow: inset 3px 3px 8px #99a8b2, inset -3px -3px 8px #ffffff;
  border: none;
  background: none;
  color: #495464;
}

main .card1 .login .username:focus {
  outline: none;
}

main .card1 .login .userpassword {
  padding: 1rem 2rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: inset 3px 3px 8px #99a8b2, inset -3px -3px 8px #ffffff;
          box-shadow: inset 3px 3px 8px #99a8b2, inset -3px -3px 8px #ffffff;
  border: none;
  background: none;
  color: #495464;
}

main .card1 .login .userpassword:focus {
  outline: none;
}

main .card1 .login-button {
  border: none;
  outline: none;
  padding: 1rem 8rem;
  text-transform: uppercase;
  border-radius: 2rem;
  position: relative;
  letter-spacing: 0.2rem;
  color: #eee;
  background: #ff7f8a;
  font-weight: 400;
  cursor: pointer;
  -webkit-box-shadow: -5px -5px 3px #fff, 5px 5px 10px #99a8b2;
          box-shadow: -5px -5px 3px #fff, 5px 5px 10px #99a8b2;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .card1 .login-button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .card2 {
  height: 45rem;
  width: 30rem;
  background: #dde1e7;
  -webkit-box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
          box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
  border-radius: 2.5rem;
  margin-top: 1rem;
}

main .card2__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card2__top .card2__top--close {
  margin: 2rem 0 0 2.5rem;
  position: relative;
}

main .card2__top .card2__top--close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
  -webkit-box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
          box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
}

main .card2__top .card2__top--menu {
  margin: 2rem 2.5rem 0 0;
  position: relative;
}

main .card2__top .card2__top--menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
  -webkit-box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
          box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
}

main .card2__middle {
  height: 15rem;
  width: 18rem;
  background: #ff7f8a;
  border-radius: 2rem;
  margin: 3.5rem auto;
  -webkit-box-shadow: 8px 8px 8px #99a8b2, -8px -8px 8px #ffffff;
          box-shadow: 8px 8px 8px #99a8b2, -8px -8px 8px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card2__middle .artist__name {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

main .card2__middle .artist__song {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: crimson;
}

main .card2 .music-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

main .card2 .music-range .slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  width: 80%;
  outline: none;
  height: 0.5rem;
  cursor: pointer;
  background-color: #000;
  border-radius: 2rem;
}

main .card2 .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card2 .timer .start {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0 0 2rem;
}

main .card2 .timer .end {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 1rem 2rem 0 0;
}

main .card2 .statechange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

main .card2 .statechange .like {
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #dde1e7;
  -webkit-box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
          box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
  height: 3.5rem;
  width: 3.5rem;
}

main .card2 .statechange .like__button {
  height: 2rem;
  width: 2rem;
}

main .card2 .statechange .previous {
  background: none;
  border: none;
  outline: none;
}

main .card2 .statechange .previous__button {
  height: 2rem;
  width: 2rem;
}

main .card2 .statechange .play {
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #dde1e7;
  -webkit-box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
          box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
  height: 5rem;
  width: 5rem;
}

main .card2 .statechange .play__button {
  height: 4rem;
  width: 4rem;
}

main .card2 .statechange .next {
  background: none;
  border: none;
  outline: none;
}

main .card2 .statechange .next__button {
  height: 2rem;
  width: 2rem;
}

main .card2 .statechange .replay {
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #dde1e7;
  -webkit-box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
          box-shadow: 3px 3px 8px #99a8b2, -3px -3px 8px #ffffff;
  height: 3.5rem;
  width: 3.5rem;
}

main .card2 .statechange .replay__button {
  height: 2rem;
  width: 2rem;
}

main .card3 {
  height: 50rem;
  width: 30rem;
  background: #dde1e7;
  -webkit-box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
          box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
  border-radius: 2.5rem;
}

main .card3__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
}

main .card3__top .main {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333333;
  margin-right: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

main .card3__top .sub {
  font-size: 1.3rem;
  font-weight: 400;
  color: crimson;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

main .card3__middle {
  margin-top: 3.5rem;
}

main .card3__middle .middle--container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

main .card3__middle .middle--container1 .firstactivity {
  border: none;
  background: none;
  outline: none;
  background: #dde1e7;
  -webkit-box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
          box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
}

main .card3__middle .middle--container1 .firstactivity img {
  height: 4rem;
  width: 4rem;
}

main .card3__middle .middle--container1 .firstactivity h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #333333;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}

main .card3__middle .middle--container1 .secondactivity {
  border: none;
  background: none;
  outline: none;
  background: #dde1e7;
  -webkit-box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
          box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
}

main .card3__middle .middle--container1 .secondactivity img {
  height: 4rem;
  width: 4rem;
}

main .card3__middle .middle--container1 .secondactivity h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #333333;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}

main .card3__middle .middle--container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

main .card3__middle .middle--container2 .thirdactivity {
  border: none;
  background: none;
  outline: none;
  background: #dde1e7;
  -webkit-box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
          box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
}

main .card3__middle .middle--container2 .thirdactivity img {
  height: 4rem;
  width: 4rem;
}

main .card3__middle .middle--container2 .thirdactivity h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #333333;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}

main .card3__middle .middle--container2 .fourthactivity {
  border: none;
  background: none;
  outline: none;
  background: #dde1e7;
  -webkit-box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
          box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
}

main .card3__middle .middle--container2 .fourthactivity img {
  height: 4rem;
  width: 4rem;
}

main .card3__middle .middle--container2 .fourthactivity h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #333333;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}

main .card3__middle .middle--container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card3__middle .middle--container3 .fifthactivity {
  border: none;
  background: none;
  outline: none;
  background: #dde1e7;
  -webkit-box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
          box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
}

main .card3__middle .middle--container3 .fifthactivity img {
  height: 4rem;
  width: 4rem;
}

main .card3__middle .middle--container3 .fifthactivity h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #333333;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}

main .card3__middle .middle--container3 .sixthactivity {
  border: none;
  background: none;
  outline: none;
  background: #dde1e7;
  -webkit-box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
          box-shadow: -4px -4px 5px #ffffff, 4px 4px 17px rgba(0, 0, 0, 0.6);
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
}

main .card3__middle .middle--container3 .sixthactivity img {
  height: 4rem;
  width: 4rem;
}

main .card3__middle .middle--container3 .sixthactivity h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #333333;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}

@media screen and (max-width: 925px) {
  main {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card1 {
    margin: 2rem auto;
  }
  .card2 {
    margin: 1rem auto;
  }
  .card3 {
    margin: 1rem auto;
    justify-self: flex-start;
  }
}

@media screen and (max-width: 605px) {
  main {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 1rem;
  }
  .card1 {
    grid-column: 1 / -1;
  }
  .card2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
  .card3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }
}
/*# sourceMappingURL=Light-theme-style.css.map */